/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
  header {
    margin: 4rem 2rem;
  }

  p {
    font-size: 1.3rem;
  }

  nav {
    margin-left: 1.5rem;
  }

  .content {
    height: 90vh;
  }

  .social-media,
  .animated-text,
  .hover-effect,
  .grey-scale {
    max-width: 35rem;
  }

  .circles {
    top: 7%;
    left: 5%;
  }
}