/* SCROLL */
.scrollTop {
  width: 6rem;
  height: 6rem;

  border: none;
  border-radius: 50%;

  right: 3rem;
  bottom: 5.5rem;

  z-index: 999;

  background-color: var(--light-color);

  opacity: 0;

  visibility: hidden;

  cursor: pointer;

  transition: all .4s ease;

  position: fixed;
}

.scrollTop.active {
  opacity: 1;

  visibility: visible;
}

.scrollTop img {
  width: 100%;
}